include LICENSE
include requirements.txt
include hooks4git/build.info
include hooks4git/.hooks4git.ini
include LICENSE
include README.md

recursive-include hooks4git/git *
recursive-include hooks4git/scripts *

recursive-exclude tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
