[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
coverage = "*"
coveralls = "*"
pytest = "*"
flake8 = "*"
mock = "*"
bandit = "*"
pytest-cov = "*"
autopep8 = "*"
pipenv-to-requirements = "*"

[packages]
colorama = "*"

[pipenv]
allow_prereleases = true
